extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        h1 Lennox Powell

        p Full Stack JavaScript Developer


        .about-bio

          p Hello! I'm a Computer programmer.I work directly on using Computer programming tools and languages like Javascript and Mysql to build successfull and versititles application to contribute to society and civilization. My most recent Software development project had a major impact on health industry, which, as you know is an industry, that can really be improved with the help of computer science technologies. I'm now hoping to align my expertise in software development with my passion for environmental activism at a company like yours. I always say "It is the size of one's willpower which determines success". 


      .skills-contact-box.box
        h6 Skills

        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug

        h6 Contact Info

        ul
          li 347-902-4164
          li Lennoxp0422@gmail.com

        a.btn-link(href='https://www.linkedin.com/in/linustorvalds') LinkedIn
        a.btn-link(href='https://github.com/lennoxPow') GitHub
        a.btn-link(href='https://twitter.com/linus__torvalds') Twitter

    nav.nav
      a(href='/')
        span &larr;
        |  Back